/* Set all HTML elements with border-box sizing - the default content-box setup is inaccurate */
* {
  box-sizing: border-box;
}

html, body {
  font-family: "Times New Roman", Georgia, serif;
  font-size: 15px;
  height: 100%;
  width: 100%;
  background-color: #dac1af;
}

main {
  text-align: center;
}

/*Link Decorations*/
a:link, a:visited {
  background-color: #128770;
  color: white;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #dac1af;
}

header {
  padding: 5px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 1em;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* The Green Boxes Around Text */
.divBox {
  max-width: 20em;
  margin: auto;
  padding: 10px;
  background-color: #1abc9c;
  text-align: center;
  color: white;
}

/* A smaller container to better fit text in the divBox class */
.smallDiv {
  max-width: 15em;
  margin: auto;
  text-align: center;
}

/* A container just to keep lists centered while left aligned */
.listDiv {
  margin: auto;
  max-width: 10em;
  text-align: left;
}

/* Remove Padding Around Headings */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
